In [1]:
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [2]:
# reading the dataset
water_df = pd.read_csv('waterQuality1.csv')

In [3]:
# Taking a look at the data
water_df

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [4]:
# for i in range(len(water_df['is_safe'])):
#     if water_df['is_safe'][i] == '#NUM!':
#         water_df.drop(labels=i, axis=0, inplace=True)

In [5]:
# water_df['is_safe'].value_counts()

In [6]:
# overview of information about data
water_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7999 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7999 non-null   float64
 1   ammonia      7999 non-null   object
 2   arsenic      7999 non-null   float64
 3   barium       7999 non-null   float64
 4   cadmium      7999 non-null   float64
 5   chloramine   7999 non-null   float64
 6   chromium     7999 non-null   float64
 7   copper       7999 non-null   float64
 8   flouride     7999 non-null   float64
 9   bacteria     7999 non-null   float64
 10  viruses      7999 non-null   float64
 11  lead         7999 non-null   float64
 12  nitrates     7999 non-null   float64
 13  nitrites     7999 non-null   float64
 14  mercury      7999 non-null   float64
 15  perchlorate  7999 non-null   float64
 16  radium       7999 non-null   float64
 17  selenium     7999 non-null   float64
 18  silver       7999 non-null   float64
 19  uranium      7999 non-null   float64
 20  is_safe      7999 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [7]:
# the dtype of target is_safe column is object instead of float/int
# Let's check whether this column consists of any value other than 0 or 1

In [8]:
water_df['is_safe'].value_counts()

0        7084
1         912
#NUM!       3
Name: is_safe, dtype: int64

In [9]:
# This weird value should be removed

In [10]:
water_df[water_df['is_safe']=='#NUM!']

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
7551,0.03,#NUM!,0.08,0.79,0.07,0.08,0.05,0.58,0.34,0.00,...,0.183,4.37,1.43,0.007,0.62,2.54,0.07,0.05,0.05,#NUM!
7568,0.06,#NUM!,0.07,1.72,0.08,0.32,0.01,1.11,0.61,0.00,...,0.178,12.10,2.03,0.008,1.37,2.05,0.06,0.10,0.07,#NUM!
7890,0.01,#NUM!,0.08,0.49,0.00,0.07,0.09,0.06,0.72,0.57,...,0.088,9.57,1.45,0.009,7.67,7.70,0.03,0.05,0.02,#NUM!

In [11]:
unwanted_indices = water_df[water_df['is_safe']=='#NUM!'].index

In [12]:
unwanted_indices

Int64Index([7551, 7568, 7890], dtype='int64')

In [13]:
water_df.drop(labels=list(unwanted_indices), axis=0, inplace=True)

In [14]:
water_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7996 entries, 0 to 7998
Data columns (total 21 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   aluminium    7996 non-null   float64
 1   ammonia      7996 non-null   object
 2   arsenic      7996 non-null   float64
 3   barium       7996 non-null   float64
 4   cadmium      7996 non-null   float64
 5   chloramine   7996 non-null   float64
 6   chromium     7996 non-null   float64
 7   copper       7996 non-null   float64
 8   flouride     7996 non-null   float64
 9   bacteria     7996 non-null   float64
 10  viruses      7996 non-null   float64
 11  lead         7996 non-null   float64
 12  nitrates     7996 non-null   float64
 13  nitrites     7996 non-null   float64
 14  mercury      7996 non-null   float64
 15  perchlorate  7996 non-null   float64
 16  radium       7996 non-null   float64
 17  selenium     7996 non-null   float64
 18  silver       7996 non-null   float64
 19  uranium      7996 non-null   float64
 20  is_safe      7996 non-null   object
dtypes: float64(19), object(2)
memory usage: 1.3+ MB

In [15]:
# It can be seen here that the number of entries in the dataset has been changed from 7999 to 7996
# since those 3 unwanted rows are removed

In [16]:
water_df

,aluminium,ammonia,arsenic,barium,cadmium,chloramine,chromium,copper,flouride,bacteria,...,lead,nitrates,nitrites,mercury,perchlorate,radium,selenium,silver,uranium,is_safe
0,1.65,9.08,0.04,2.85,0.007,0.35,0.83,0.17,0.05,0.20,...,0.054,16.08,1.13,0.007,37.75,6.78,0.08,0.34,0.02,1
1,2.32,21.16,0.01,3.31,0.002,5.28,0.68,0.66,0.90,0.65,...,0.100,2.01,1.93,0.003,32.26,3.21,0.08,0.27,0.05,1
2,1.01,14.02,0.04,0.58,0.008,4.24,0.53,0.02,0.99,0.05,...,0.078,14.16,1.11,0.006,50.28,7.07,0.07,0.44,0.01,0
3,1.36,11.33,0.04,2.96,0.001,7.23,0.03,1.66,1.08,0.71,...,0.016,1.41,1.29,0.004,9.12,1.72,0.02,0.45,0.05,1
4,0.92,24.33,0.03,0.20,0.006,2.67,0.69,0.57,0.61,0.13,...,0.117,6.74,1.11,0.003,16.90,2.41,0.02,0.06,0.02,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7994,0.05,7.78,0.00,1.95,0.040,0.10,0.03,0.03,1.37,0.00,...,0.197,14.29,1.00,0.005,3.57,2.13,0.09,0.06,0.03,1
7995,0.05,24.22,0.02,0.59,0.010,0.45,0.02,0.02,1.48,0.00,...,0.031,10.27,1.00,0.001,1.48,1.11,0.09,0.10,0.08,1
7996,0.09,6.85,0.00,0.61,0.030,0.05,0.05,0.02,0.91,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1
7997,0.01,10,0.01,2.00,0.000,2.00,0.00,0.09,0.00,0.00,...,0.000,0.00,0.00,0.000,0.00,0.00,0.00,0.00,0.00,1
7998,0.04,6.85,0.01,0.70,0.030,0.05,0.01,0.03,1.00,0.00,...,0.182,15.92,1.00,0.000,1.35,4.84,0.00,0.04,0.05,1

In [17]:
scaler = StandardScaler()

In [18]:
# Standardization brings consistency among data
scaler.fit_transform(water_df)

array([[ 0.77740287, -0.58549134, -0.48087476, ...,  1.33873624,
        -0.91704015,  2.78703137],
       [ 1.30694501,  0.77511802, -0.59963176, ...,  0.85113427,
         0.19802266,  2.78703137],
       [ 0.27157158, -0.02908321, -0.48087476, ...,  2.03531047,
        -1.28872776, -0.35880472],
       ...,
       [-0.45556091, -0.83666343, -0.63921743, ..., -0.75098648,
         0.19802266,  2.78703137],
       [-0.51878982, -0.48186877, -0.59963176, ..., -1.02961617,
        -1.66041536,  2.78703137],
       [-0.49507898, -0.83666343, -0.59963176, ..., -0.75098648,
         0.19802266,  2.78703137]])

In [19]:
water_df = pd.DataFrame(scaler.fit_transform(water_df))

In [20]:
water_df

,0,1,2,3,4,5,6,7,8,9,...,11,12,13,14,15,16,17,18,19,20
0,0.777403,-0.585491,-0.480875,1.054205,-0.993241,-0.711941,2.152993,-0.973050,-1.657446,-0.363345,...,-0.781070,1.129767,-0.348629,0.609178,1.203362,1.661842,1.053694,1.338736,-0.917040,2.787031
1,1.306945,0.775118,-0.599632,1.432447,-1.131948,1.208552,1.598765,-0.223303,0.294799,1.002460,...,0.009785,-1.409197,1.046960,-0.739005,0.892977,0.124811,1.053694,0.851134,0.198023,2.787031
2,0.271572,-0.029083,-0.480875,-0.812340,-0.965499,0.803417,1.044536,-1.202564,0.501507,-0.818614,...,-0.368450,0.783298,-0.383518,0.272132,1.911763,1.786699,0.706129,2.035310,-1.288728,-0.358805
3,0.548198,-0.332067,-0.480875,1.144654,-1.159690,1.968179,-0.802892,1.306793,0.708215,1.184567,...,-1.434385,-1.517469,-0.069511,-0.401960,-0.415275,-0.516695,-1.031700,2.104968,0.198023,2.787031
4,0.200439,1.132165,-0.520460,-1.124801,-1.020982,0.191820,1.635713,-0.361012,-0.371261,-0.575804,...,0.302058,-0.555658,-0.383518,-0.739005,0.024578,-0.219622,-1.031700,-0.611672,-0.917040,2.787031
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7991,-0.487175,-0.731915,-0.639217,0.314165,-0.077771,-0.809330,-0.802892,-1.187263,1.374275,-0.970370,...,1.677459,0.806757,-0.575412,-0.064914,-0.729052,-0.340173,1.401260,-0.611672,-0.545353,2.787031
7992,-0.487175,1.119776,-0.560046,-0.804117,-0.910016,-0.672986,-0.839840,-1.202564,1.626919,-0.970370,...,-1.176498,0.081339,-0.575412,-1.413097,-0.847213,-0.779325,1.401260,-0.333042,1.313085,2.787031
7993,-0.455561,-0.836663,-0.639217,-0.787672,-0.355186,-0.828807,-0.728995,-1.202564,0.317766,-0.970370,...,1.419571,1.100895,-0.575412,-1.750143,-0.854563,0.826593,-1.726831,-0.750986,0.198023,2.787031
7994,-0.518790,-0.481869,-0.599632,0.355278,-1.187431,-0.069180,-0.913738,-1.095458,-1.772284,-0.970370,...,-1.709466,-1.771906,-2.319897,-1.750143,-0.930887,-1.257225,-1.726831,-1.029616,-1.660415,2.787031
7995,-0.495079,-0.836663,-0.599632,-0.713668,-0.355186,-0.828807,-0.876789,-1.187263,0.524474,-0.970370,...,1.419571,1.100895,-0.575412,-1.750143,-0.854563,0.826593,-1.726831,-0.750986,0.198023,2.787031

In [21]:
# Now, all the values in the dataset are standardized
# But target values are not 0 and 1 anymore

In [22]:
# Function to reset target values back to 0 and 1
def reset_target(x):
    if x > 0:
        return 1
    return 0

In [23]:
# reset the values of target to 0 and 1
water_df.iloc[:, -1] = water_df.iloc[:, -1].apply(lambda x: reset_target(x))

In [24]:
water_df.iloc[:, -1].value_counts()

0    7084
1     912
Name: 20, dtype: int64

In [25]:
# Target values has been reset to 0 and 1

In [26]:
# Splitting the dataset into training and testing datasets
X_train, X_test, y_train, y_test = train_test_split(water_df.drop(labels=len(water_df.columns)-1, axis=1),
                                                    water_df.iloc[:, -1], train_size=0.7, random_state=17)

In [27]:
# These two modules are developed by me
# and can be found in the repository
from Perceptron import Perceptron
from Metrics import Metrics

In [28]:
inp = X_train
inp['target'] = y_train

In [29]:
testing = X_test
testing['target'] = y_test

In [30]:
my_model = Perceptron(alpha=1e-4, epochs=10, activation='relu')

In [31]:
# Training the perceptron model
my_model.train(inp)

In [32]:
# testing the perceptron model
result, target = my_model.test(testing)

In [33]:
# Metrics has methods to calculate efficiency and confusion matrix
my_metrics = Metrics(target, result)

In [34]:
my_metrics.efficiency()

88.66194247603167

In [35]:
my_metrics.confusion_matrix()

       Positives  Negatives
True         105       2022
False        111        161

In [37]:
# n combinations of alpha, epochs and activation have to be provided
n = int(input('Number of combinations: '))
params = []
for i in range(n):
    print(f'Set {i+1}')
    a = float(input('Enter learning rate (alpha):'))
    ep = int(input('Enter number of epochs: '))
    act = input('Enter activation function: ')
    params.append([a, ep, act])

Number of combinations: 3
Set 1
Enter learning rate (alpha):1e-5
Enter number of epochs: 10
Enter activation function: relu
Set 2
Enter learning rate (alpha):1e-3
Enter number of epochs: 20
Enter activation function: step
Set 3
Enter learning rate (alpha):1e-5
Enter number of epochs: 10
Enter activation function: sigmoid

In [38]:
max_eff = 0
best_model = None
best_model_metrics = None

In [39]:
# n number of peceptron models are created, trained and tested
# Model that gives the maximum efficiency among these, is returned
for i in range(n):
    # curr_model is the perceptron model corresponding to current iteration
    curr_model = Perceptron(alpha=params[i][0], epochs=params[i][1], activation=params[i][2])
    # model is trained
    curr_model.train(inp)
    # model is tested
    res, tar = curr_model.test(testing)
    # metrics
    curr_metrics = Metrics(tar, res)
    curr_eff = curr_metrics.efficiency()
    print(f'Efficiency of Model {i+1}: {curr_eff}')
    # finding the maximum efficiency
    if float(curr_eff) > max_eff:
        max_eff = curr_eff
        best_model = curr_model
        best_model_metrics = curr_metrics

Efficiency of Model 1: 88.66194247603167
Efficiency of Model 2: 87.61984160066694
Efficiency of Model 3: 86.2442684451855

In [40]:
print(f'Maximum efficiency is: {max_eff} with alpha={best_model.alpha}, epochs={best_model.epochs}, activation={best_model.getActivationFunction()}')
print(f'___________________________________\n')
print(f'Confusion matrix of the best model')
print(f'___________________________________\n')
print(f'{best_model_metrics.confusion_matrix()}')
print(f'___________________________________\n')

Maximum efficiency is: 88.66194247603167 with alpha=1e-05, epochs=10, activation=relu
___________________________________

Confusion matrix of the best model
___________________________________

       Positives  Negatives
True         105       2022
False        111        161
___________________________________